body{
    color: white;
    font-family: 'Spartan';
    font-size: 60;
    list-style-type: none;
    background-color: black;
}

.navheader{
    opacity: 75%;
}

ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #202020;
    color: white;
    display: flex;
  }
  
  li a {    
    padding: 0px 120px;
    color: rgb(218, 218, 218);
    border: 3px solid black;
    text-decoration: none;
    opacity: 100%;
  }
  
  li a:hover {
    padding: 5px 120px;
    background-color: rgb(49, 49, 49);
    color: rgb(0, 0, 0);
    opacity: 100%;
  }
  